

body{
	width: 1200px;
	height: 1200px;
	margin: auto;
	font-family: Tahoma;
	font-size: 15px;
}

#header{
	width: 1290px;
	height: 121px;
	position: relative;
	left: -45px;
}

#header .logo{
	position: relative;
	margin-left:1%;
	float: left;
	display: inline-block;
	top:2px;
}

#header .top{
	width: 20%;
	height: 20px;
	font-size:15px;
}

#header .top ul li{
	list-style-type: none;
	margin:0;
	padding:0;
	position: relative;
	margin-right: -460%;
	text-align: right;
	margin-top: -16%;
}

#header .top .icon1:hover, .icon2:hover, b:hover{
	color:red;
}

#menu{
	width: 107.5%;
	height: 50px;
	background-color: #000055;
	float: right;
	margin-right: -3.75%;
	z-index: 1;
	top:0;
}

#menu .box{
	float:left;
	position: relative;
	padding-right: 52px;
	left: -2%;
}

#menu .box input[type=text] {
   	padding: 6px;
  	margin-top: 8px;
  	font-size: 17px;
  	border: 1px solid;
  	width: 450px;
  	border-top-left-radius: 5px;
  	border-bottom-left-radius: 5px;
}

#menu .box button {
  	float: right;
  	padding: 6px 10px;
  	margin-top: 8px;
  	margin-right: 16px;
  	background: #666666;
  	font-size: 17px;
  	border: 1px solid;
  	cursor: pointer;
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
}

#menu .box button:hover{
  	background: #AA0000;
  	color:white;
  	border-color: #AA0000;
}

#menu ul {
	width: 97%;
 	height:450px; 
   	list-style-type: none;
   	margin: 0;
   	overflow: hidden;
   	font-size:25px;
   	position: relative;
   	float: right;
   	top:1%;
}

#menu li {
  	float: left;
  	padding: 1px 1px;
}

#menu li:last-child{
	border-right: none;
}

#menu li a {
  	display: inline-block;
  	color: white;
  	text-align: center;
  	padding: 8px 17.5px;
  	text-decoration: none;
  	background: #ff6600;
  	transition: 0.3s ease;
}

#menu li a:hover{
  	background-color: #87CEFA;
  	border-bottom: 4px solid red;
  	color: red;
}

#menu li.chinhsach{
  	display: inline-block;
}

#menu .CS {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	width: 250px;
	box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
 	z-index: 3;
 	top: 11%;
 	left: 81%;
 
}

#menu .CS a {
  	color: black;
  	padding: 5px 6px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
  	background: white;
  	z-index: 4;
}

#menu .CS a:hover {
	background-color: #ff9999;
	border-radius: 0px;
	border-bottom: none;
	color:red;
}

#menu .chinhsach:hover .CS {
  	display: block;
}

#banner{
	margin: 0;
	width: 107.5%;
	height: 200px;
	float: right;
	position: relative;
	right: -3.75%;
}

#banner img{
	height: 300px;
	width: 1290px;
	position: relative;
}
#banner .trai {
	opacity: 0.3;
	z-index: 1;
	top:120px;
	left: 20px;
	position: absolute;
	height: 70px;
	width: 50px;
	font-size: 40px;
	background-color: #000000;
	color: #FFFFFF;
}
#banner .phai {
	opacity: 0.3;
	z-index: 1;
	top:120px;
	left: 1220px;
	position: absolute;
	height: 70px;
	width: 50px;
	font-size: 40px;
	background-color: #000000;
	color: #FFFFFF;
}
#banner .phai:hover{
	opacity: 0.8;
	color: #FFFFFF;
	background-color: #99CD4E;
}
#banner .trai:hover{
	opacity: 0.8;
	color: #FFFFFF;
	background-color: #99CD4E;
}

#left ul{
  list-style-type:none;
  text-align:center;
  background:white;
  width: 104.2%;
  height: 60px;
  position: relative;
  margin-top:28%;
  left: -3.75%;
  z-index: 2;
}

#left li{
  display:inline-block;
  width:170px;
  height:50px;
  line-height: 60px;
  position:relative;
  left: -4%;
}

#left a{
  text-decoration:none;
  color:#c60000;
  display:block;
  font-size: 20px;
  font-weight: bolder;
}

#left li a:hover{
  color:#9400D3;
}



#left .pk{
	display: none;
	position: absolute;
	z-index: 1;
	margin-top:-1%;
	width: 150px;
}

#left .pk a{
	width: 210px;
	color: black;
  	padding: 5px 6px;
  	text-decoration: none;
  	display: block;
  	text-align: left;
  	background: white;
  	z-index: 2;
  	position: relative;
  	margin-left: -35px;
}

#left li:hover .pk{
	display: block;
}

#left .pk a:hover{
	background-color:#FF9966;
	color:red;
}

#left .pk{
	margin-left: 0 !important;
}

#noidung{
	left:3.5%;
	height:1620px;
	position: relative;
	top:-1%;
	margin:auto;
	width: 107%;
	z-index: 1;
	float: right;
}

#noidung .noibat{
	background: #E1E1E1;
	height: 30%;
	border: 2px solid #006400;
	margin-bottom: 3%; 
}
#noidung .noibat .tieude{
	font-size: 25px;
	margin-left: 30px;
	font-weight: bold;
	text-decoration: underline;
	color: #FF6600;
}
#noidung .noibat .tatca{
	position: absolute;
	font-size: 19px;
	width: 96px;
	margin: -48px 0px 0px 1160px;
	color: blue;
}

#noidung .tatca:hover{
	color: red;
}

#spnoibat1,#spnoibat3,#spnoibat5,#spnoibat7,#spnoibat11,#spnoibat13,#spnoibat15,#spnoibat17,#spnoibat21,#spnoibat23,#spnoibat25,#spnoibat27{
	border:  1px solid black;
	height: 80%;
	width: 22%;
	float: left;
	margin-right:5px;
	margin-left: 27px; 
	background: #FFFFFF;
} 
#spnoibat2:hover .hinh,#spnoibat4:hover .hinh,#spnoibat6:hover .hinh,#spnoibat8:hover .hinh,#spnoibat12:hover .hinh,#spnoibat14:hover .hinh,#spnoibat16:hover .hinh,#spnoibat18:hover .hinh,#spnoibat22:hover .hinh,#spnoibat24:hover .hinh,#spnoibat26:hover .hinh,#spnoibat28:hover .hinh,#spnoibat1:hover .hinh,#spnoibat3:hover .hinh,#spnoibat5:hover .hinh,#spnoibat7:hover .hinh,#spnoibat11:hover .hinh,#spnoibat13:hover .hinh,#spnoibat15:hover .hinh,#spnoibat17:hover .hinh,#spnoibat21:hover .hinh,#spnoibat23:hover .hinh,#spnoibat25:hover .hinh,#spnoibat27:hover .hinh{
  	opacity: 0.5;
}

  	
#spnoibat2,#spnoibat4,#spnoibat6,#spnoibat8,#spnoibat12,#spnoibat14,#spnoibat16,#spnoibat18,#spnoibat22,#spnoibat24,#spnoibat26,#spnoibat28{
	border:  1px solid black;
	height: 80%;
	width: 22%;
	float: left;
	margin-right:5px;
	margin-left: 27px; 
	background: #FFFFFF;
	display: none; 
}  
.hinh img{
	height: 65%;
	width: 97%;
	border-color: white;
	border-style: solid;
	opacity: 1;
	transition: .5s ease;
  	backface-visibility: hidden;
}
#spnoibat2:hover,#spnoibat4:hover,#spnoibat6:hover,#spnoibat8:hover,#spnoibat12:hover,#spnoibat14:hover,#spnoibat16:hover,#spnoibat18:hover,#spnoibat22:hover,#spnoibat24:hover,#spnoibat26:hover,#spnoibat28:hover,#spnoibat1:hover,#spnoibat3:hover,#spnoibat5:hover,#spnoibat7:hover,#spnoibat11:hover,#spnoibat13:hover,#spnoibat15:hover,#spnoibat17:hover,#spnoibat21:hover,#spnoibat23:hover,#spnoibat25:hover,#spnoibat27:hover{
	box-shadow:0 3px 20px 0 rgba(0,0,0,0.7),0 3px 20px 0 rgba(0,0,0,0.80)
}
#noidung .noibat #spnoibat1 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat2 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat3 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat4 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat5 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat6 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat7 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat8 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat11 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat12 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat13 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat14 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat15 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat16 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat17 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat18 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat21 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat22 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat23 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat24 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat25 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat26 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat27 a{
	text-decoration: none;
}
#noidung .noibat #spnoibat28 a{
	text-decoration: none;
}
.ten{
	margin-left: 5px;
	margin-top: 5px; 
	height: 18%;
	font-size: 23px;
	color: #343434;
	font-weight: bold;
}

.giagiam{
	width: 100px;
	margin: 2px 5px 0px 53px;
	color: red;
	font-size: 23px;
	float: left;
	padding-right: 15px;
	font-weight: bold;
}
.gia{
	text-align: center;
	font-weight: bold;
	font-size: 23px;
	display: block;
	color: red;
	width: 290px;
	height: 44px;
}

.giamgia{
 	width: 100px;
	margin: 6px 0px;
	color: #777777;
	font-size: 18px;
	float: left;
	text-decoration: line-through; 
}
#noidung .noibat .trai {
	opacity: 0.3;
	z-index: 1;
	top:217px;
	left: 5px;
	position: absolute;
	height: 65px;
	width: 35px;
	font-size: 40px;
	background-color: #FFFFFF;
	color: #000000;
}
#noidung .noibat .phai {
	opacity: 0.3;
	z-index: 1;
	top:217px;
	left: 1245px;
	position: absolute;
	height: 65px;
	width: 35px;
	font-size: 40px;
	background-color: #FFFFFF;
	color: #000000;
}
.trai1{
	opacity: 0.3;
	z-index: 1;
	top:758px;
	left: 5px;
	position: absolute;
	height: 65px;
	width: 35px;
	font-size: 40px;
	background-color: #FFFFFF;
	color: #000000;
}
.phai1{
	opacity: 0.3;
	z-index: 1;
	top:758px;
	left: 1245px;
	position: absolute;
	height: 65px;
	width: 35px;
	font-size: 40px;
	background-color: #FFFFFF;
	color: #000000;
}
.trai2{
	opacity: 0.3;
	z-index: 1;
	top:1297px;
	left: 5px;
	position: absolute;
	height: 65px;
	width: 35px;
	font-size: 40px;
	background-color: #FFFFFF;
	color: #000000;
}
.phai2{
	opacity: 0.3;
	z-index: 1;
	top:1297px;
	left: 1245px;
	position: absolute;
	height: 65px;
	width: 35px;
	font-size: 40px;
	background-color: #FFFFFF;
	color: #000000;
}
#noidung .noibat .trai:hover{
	opacity: 0.8;
	color: #FFFFFF;
	background-color: #99CD4E;
}	
#noidung .noibat .phai:hover{
	opacity: 0.8;
	color: #FFFFFF;
	background-color: #99CD4E;
}
#noidung .noibat .trai1:hover{
	opacity: 0.8;
	color: #FFFFFF;
	background-color: #99CD4E;
}	
#noidung .noibat .phai1:hover{
	opacity: 0.8;
	color: #FFFFFF;
	background-color: #99CD4E;
}
#noidung .noibat .trai2:hover{
	opacity: 0.8;
	color: #FFFFFF;
	background-color: #99CD4E;
}	
#noidung .noibat .phai2:hover{
	opacity: 0.8;
	color: #FFFFFF;
	background-color: #99CD4E;
}	
.vedautrang:hover{
	background-color: #006400;
	color: #fff;
	border: 1px solid #006400;
	opacity:1;
	cursor: pointer;
}

.discountpercent{
	position: relative;
	font-size: 25px;
	color: white;
	border: solid;
	background: red;
	border-color:red;
	text-align: center;
	width: 150px;
	overflow: hidden;
	z-index: 4;
	top: -394px;
}

.vedautrang {
	opacity: 0.6;
	border-radius: 6px;
	background-color: #333333;
	padding: 10px 15px;
	white-space: nowrap; color: #fff;
	position: fixed;
	bottom: 35px;
	right: 30px;
	height: 30px;
	text-decoration: none;
	font-size: 25px;
	border-radius: 50px;	
}

#chan{
	width: 107.5%;
	position: relative;
	clear: right;
	margin-left: -3.75%;
	height: 400px;
	float: left;
}

#chan #hi{
	height: 150px;
	background: #dddddd;
	top: -3.6%;
	position: relative;
}

#chan #hi ul{
	height: 150px;
	position: relative;
}

#chan #hi li{
	height: 120px;
	list-style: none;
	float: left;
	padding-right: 100px;
	font-size: 17px;
	line-height: 40px;
	text-align: left;
	position: relative;
	top: 3%;
	left: 1.6%;
}

#footer{
	top: -14.4px;
	clear: right;
	width: 1290px;
	height: 265px;
	background-image:url(./image/footer.gif); 
	background-size:1349px;
	background-repeat: no-repeat;
	position: relative;
	margin-left: 0%;
	color: white;
}

#footer ul{
	float:left;
	padding-right:50px;
}

#footer li {
	list-style-type: none;
	font-size: 20px;
	position: relative; 
}

#footer .khachhang, .sach{
	position: relative;
	top:--5.5px;
}

#footer .khachhang a ,.sach a{
	font-size: 20px;
	text-decoration: none;
	color: white;
}

#chan .khachhang a:hover, .sach a:hover{
  	color: #FFFF00;
}



.chao {
    color: red;
    font-family: inherit;
    font-size: 18px;
    float: left;
    width: 564px;
   	font-style: italic;
    position: relative;
    left: 14%;
    top: 47%;
    
    font-weight: bold;
}

#timkiemnangcao {
    float: right;
    position: relative;
    width: 107.5%;
    height: auto;
    z-index: 2;
    margin-right: -3.75%;
    padding: 15px 0px 6px 0px;
    font-size: 16px;
}
option{
	font-size: 16.4px;
	font-family:Tahoma;
}

select{
	font-size: 17px;
}























